*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c0c0c0;
  color: #ff0000;
  font-weight: normal;
  color: darkslategrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  text-shadow: -1px -1px #000;
}